#GROS{font-size: 800%;}
#PETIT{font-size: 0.5%;}
table{border: 1px solid black;
border-width: 150%;
border-color: aqua;}
tr{border: 1px solid black;}
th{border: 1px solid black;}
td{border: 1px solid black;}
p{padding: 5px; border: 1px; margin: 25px auto;
height: 150px; width: 300px;}
