body{
    padding: 0px;
    margin: 0px;
}

#BUTTON{
    text-align: end;
    margin-right: 15px;
}

h1{
   text-align: center;
   font-size: 300%;
}

strong{
    text-decoration: none;
}

.question{
    font-size: 150%;
    padding-left: 15px;
    padding-right: 15px;
}

.groupeReponse{
    display: flex;
}

.reponse{
    display: flex;
    height: 100px;
    width: 25%;
    border: wheat solid 1px;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    font-size: 125%;
    font-weight: bold;
    background-color: wheat;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 20px;
    height: 20px;
  
    border: 2px solid #999;
    margin-right: 5px;  
    position: relative;
  }
  
  input:checked {
    border: 10px solid gray;
  }
  

  @media screen and (max-width: 830px){
      .groupeReponse{
          display: flex;
          flex-direction: column;
      }
      .reponse{
          width: 100%;
      }
  }