body{
    padding: 0px;
    margin: 0px;
    background-image: url(photo-1521412644187-c49fa049e84d.jpg);
    float: inline-start;
}

#BUTTON{
    text-align: end;
    margin-right: 15px;
}

h1{
   text-align: center;
   font-size: 300%;
}

strong{
    text-decoration: none;
}

.question{
    font-size: 150%;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: rgb(53, 53, 53);
}

.groupeReponse{
    display: flex;
}

.reponse{
    display: flex;
    height: 100px;
    width: 25%;
    border: wheat solid 1px;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    font-size: 125%;
    font-weight: bold;
    background-color: wheat;
    padding: 15px;
}

input {
    display: none;
}
  
  input:checked + label {
    background-color: grey;
  }
  

  @media screen and (max-width: 634px){
      .groupeReponse{
          display: flex;
          flex-direction: column;
          margin: 15px;
      }
      .reponse{
          width: 90%;
          margin: 0px;
          margin-top: 15px;
      }
  }